body {
    font-family: sans-serif;
    background-color: #DDDDFF;
}

h1 {
    text-align: center;
}

.template-head {
    margin: 1px;'
}
.template-main {
    border-spacing: 1px;
}

.template-head, .template-content, .template-nav {
    border: 1px solid black;
    border-radius: 5px;
}

.template-content {
    padding: 0.5em;
	width: 100%;
}

.template-nav {
    vertical-align: top;
    background-color: #CCCCFF;
}
.template-nav ul {
    padding: 0.5em;
    margin: 0;
    list-style-type: none;
}
